*{
  margin: 0;
  padding: 0;
}
/* Cabecalho */

#cabecalho{
  width: 360px;
  height: 90px;
  margin: 0;
  padding: 0;
  background-color: #4DBFFF;
  display: flex;
}
.cabecalhoTitulo{
  font-family: Roboto;
  font-size: 16px;
  margin: auto;
  justify-content: center;
}

.cabecalhoLogo img{
  width: 30px;
  height: 30px;
  margin: 25px 8px 0 8px;
}

/* Rodape */
#rodape{
  width: 360px;
  height: 90px;
  margin: 0;
  padding: 0;
  background-color: #4DBFFF;
  display: flex;
  align-content: center;
}
.rodapeLogo{
  display: flex;
  margin: auto;
}
.rodapeLogo img{
  width: 40px;
  height: 40px;
  margin:0 10px;
  padding: 10px 5px;
}
.rodapeLogo img:hover{
  background-color: aqua

}