*{
  margin: 0;
  padding: 0;
}

.navTabs{
  width: 340px;
  height: 340px;
  margin: 10px;
  position: relative;
  border: 1px solid rgb(218, 216, 216);
}
.navTabs-minhasCompetenciasRecursos{
  width: 340px;
  height: 400px;
  margin: 10px;
  position: relative;
  border: 1px solid rgb(218, 216, 216);
}
.navTabs ul{
  list-style: none;
}
.navTabs-minhasCompetenciasRecursos ul{
  list-style: none;
}
.navTabs ul li{
  float: left;
}
.navTabs-minhasCompetenciasRecursos ul li{
  float: left;
}
.navTabs label{
  width: 90px;
  padding: 5px;
  margin: 5px;
  display: block;
  cursor: pointer;
  text-align:center;
  border: none;
}
.navTabs-minhasCompetenciasRecursos label{
  width: 150px;
  padding: 5px;
  margin: 5px;
  display: block;
  cursor: pointer;
  text-align:center;
  border: none;
}

.rdTabs:checked ~ label{
  border-bottom: 1px solid grey;
}
.rdTabs{
  display: none;
}
.tabContend{
  display: none;
  width: 330px;
  height: 250px;
  position: absolute;
  left: 0;
}
.rdTabs:checked ~ .tabContend{
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  color: grey;
}
.tabContend article{
  padding: 5px;
}
.tabContend article p{
  padding: 0 0 5px 0;
}
header{
  margin: 0;
  padding: 0;
  width: 360px;
  height: 90px;
}

.corpo{
  margin: 0;
  padding: 0;
}
.corpoFrame{
  width: 360px;
  height: 460px;
  margin: 0;
  padding: 0;
  border: 1px solid rgb(223, 219, 219);
}
.corpoFrame img{
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

#imgProjeto{
  width: 100%;
  display: flex;
  justify-content: center;
}

.itemProjeto{
  width: 100%;
  display: flex;
  justify-content:space-between;
  margin: 0 0 5px 5px;
}
.itemProjeto img{

  width: 28px;
  height: 28px;
  border-radius: 50%;
}

/* Logon Frame */
.logonFrame{
  width: 360px;
  height: 460px;
  display: block;
  font-family: roboto;
  font-size: 16px;
  color: black;
  text-align: center;
}

.logonFrame p{
  margin-top: 10px;
  font-size: 10px;
  color: gray;
}
.logonFormItem{
  display: inline-block;
  margin: 10px 0 0 0;
}
#mobileNumber{
  margin: 25px 0 0 0;
}
#user{
  margin: 25px 0 10px 0;
}

.textLink{
  margin-top: 10px;
}

/* Logon Criar Conta */
#optionButton{
  display: flex;
  justify-content: center;
}

.logonButtonExit{
  background-color:gray;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.logonButtonSend{
  background-color: green;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.confirmarCodigo p{
  margin: 0 20px;
  color: blue;
  font-size: 12px;
}
.confirmarCodigo input{
  margin: 10px 0;
}